/* Responsive */
@media only screen and (max-width: 750px) {
header{
    position: relative;
}
header ul{
    width: 100%;
    background: #0e94a0;
    max-height: 0px;
    overflow: hidden;
}
.showing{
    max-height: 100em;
}
header ul li{
    width: 100%;
}
header ul li ul{
    position: static;
    display: block;
    width: 100%;
    background: inherit;
}
header ul li ul li a{
    padding: 10px;
    background: #0e94a0;
    color: white;
    padding-left: 50px;
}
header ul li ul li .logout{
    color: red;
}
header .menu-toggle{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}
}